h2 {
  margin-bottom: 5px;
}

p {
  color: #bbb;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  background: #121212;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.actions {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancel {
  background: #333;
  padding: 8px 14px;
  border-radius: 10px;
}

.save {
  background: #5f4bff;
  padding: 8px 14px;
  border-radius: 10px;
  color: white;
}
