<h2>Nuevo Usuario</h2>
<p>Complete la información del usuario</p>

<div class="form">

  <label>Nombre</label>
  <input [(ngModel)]="user.name" placeholder="Nombre completo" />

  <label>Email</label>
  <input [(ngModel)]="user.email" placeholder="correo@ejemplo.com" />

  <label>Contraseña</label>
  <input type="password" [(ngModel)]="user.password" placeholder="******" />

  <label>Roles</label>
  <select [(ngModel)]="user.roleIds" multiple size="3">
    <option *ngFor="let r of roles" [value]="r.id">
      {{ r.name }}
    </option>
  </select>


  <label>Estado</label>
  <select [(ngModel)]="user.isActive">
    <option [value]="true">Activo</option>
    <option [value]="false">Inactivo</option>
  </select>

</div>

<div class="actions">
  <button class="cancel" (click)="close()">Cancelar</button>
  <button class="save" (click)="save()">Guardar</button>
</div>
