<div class="wrapper">
  <div class="card">
    <div class="icon">
      <span class="material-icons">apartment</span>
    </div>
    <h2>Seleccionar Propiedad</h2>
    <p>Elige la propiedad donde trabajarás hoy</p>

    <div class="property-list">
      <div
        *ngFor="let p of properties"
        class="property"
        (click)="selectProperty(p)"
      >
        <div class="property-icon">
          <span class="material-icons">domain</span>
        </div>
        <div class="info">
          <h3>{{ p.name }}</h3>
          <p>
            <span class="material-icons">place</span> {{ p.location }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
